:root.theme-light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --h2-color: var(--text-color);
  --h3-color: #353430;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --rect-color: #353430;
  --focus-color: var(--text-color);
  --hover-color: rgba(50, 49, 45, 0.4);
  --button-color: #353430;
}

.theme-light .header_theme-REC-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --h2-color: var(--text-color);
    --h3-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --rect-color: #353430;
    --focus-color: var(--text-color);
    --hover-color: rgba(50, 49, 45, 0.4);
    --button-color: #353430;
  }

  :root.theme-auto .header_theme-REC-text {
    display: none;
  }
}
