.page {
  background-color: var(--bg-color);
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr auto;
  grid-template-columns: 100%;
  block-size: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--rect-color);
  border-inline-end: 1px solid var(--rect-color);
  justify-self: end;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--rect-color);
  border-inline-start: 1px solid var(--rect-color);
  justify-self: start;
  align-self: self-end;
}

.header_theme-REC-text {
  color: var(--accent-color);
  font-size: inherit;
  line-height: 25px;
  position: absolute;
  inset-inline: auto 39px;
  inset-block: 10px auto;
}

.header_theme-REC-text::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  inset: 8px 43px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline-style: none;
  border-block-end: 1px solid var(--focus-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu {
  align-self: center;
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 25px;
  margin: 0;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  appearance: none;
  border: 1px solid transparent;
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  color: var(--button-color);
  font-size: inherit;
  line-height: 18px;
  font-weight: 400;
  font-family: "IBM Plex mono", sans-serif;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--focus-color);
  pointer-events: none;
}

.header__theme-title {
  align-self: center;
  padding-block-start: 4px;
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.title-decor {
  color: var(--h3-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.header_theme-text {
  margin-block-start: 51px;
  block-size: min-content;
  line-height: 23.4px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 30px;
  padding: 40px 10px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.main-title {
  margin-block-start: 0;
  margin-block-end: 21px;
  color: var(--h2-color);
  font-size: 18px;
  font-weight: 700;
}

.main-sub-title {
  margin-block-start: 21px;
  font-weight: 400;
}

.main-text {
  color: var(--text-color);
  margin-block-start: 10px;
  margin-block-end: 20px;
  line-height: 23.4px;
}

.main-text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.main-text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.main-text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main-sub-title:nth-last-child(1),
.main-sub-title:nth-last-child(2) {
  margin: 20px 0 0 0;
  font-weight: 400;
}

.main-gallery {
  display: grid;
  gap: 10px;
}

.main-image {
  object-fit: cover;
  width: 100%;
}

.footer {
  padding: 10px;
  block-size: 100vh;
  min-height: 668px;
  display: grid;
}

.footer__theme-title {
  place-self: center;
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    min-height: 1024px;
  }
  .header_theme-REC-text {
    inset-inline: auto 49px;
    inset-block: 20px auto;
  }

  .header__theme-menu-list {
    padding-block-start: 79px;
    padding-block-end: 0;
    margin: 0;
  }

  .header__theme-title {
    margin-inline-start: -20px;
  }

  .header_theme-text {
    inline-size: 364px;
    align-self: start;
    justify-self: end;
    margin-block-start: 56px;
  }

  .main {
    padding-inline: 20px;
  }

  .main-section {
    padding-block-start: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .main-section-accent {
    padding-block-start: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .increased-border {
    padding-block-start: 31px;
  }

  .main-section-accent .main-title {
    inline-size: 130px;
  }

  .main-gallery {
    padding-block-start: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 23px 1fr 1fr 1fr;
    gap: 20px;
    max-height: calc(100dvw * 1.071614583);
    margin-block-end: 48px;
  }

  .main-gallery-title {
    grid-column: span 3;
  }

  .main-image {
    object-fit: cover;
    height: 100%;
  }

  .main-image:first-of-type {
    grid-row: 2;
    grid-column: span 2;
  }

  .main-image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / span 2;
  }

  .main-image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / span 2;
  }

  .main-image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .main-image:nth-of-type(5) {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  .footer {
    padding: 20px;
    min-height: 1024p;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    margin-block-start: -26px;
    margin-inline-start: -62px;
    align-self: start;
    justify-self: center;
  }
  .header__theme-menu-list {
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 10px;
    padding-inline-start: 64px;
    padding-block: 0;
    margin: 0;
  }

  .header__theme-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_theme-text {
    margin-block-start: 66px;
    inline-size: calc(50vw - 21px);
  }

  .main-section {
    column-gap: 10px;
  }

  .main-section-accent .main-title {
    inline-size: 324px;
  }

  .main-section-accent-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .main-gallery {
    max-height: calc(100dvw * 1.065429688);
  }

  .footer {
    min-height: 768px;
  }

  .footer__theme-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
