:root {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --h2-color: #ff0070;
  --h3-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --rect-color: #ff0070;
  --focus-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --button-color: #ff0070;
}
